:host {
  display: block;
  width: 100%;
}

footer {
  background: #1a1a2e;
  color: rgba(255, 255, 255, 0.7);
  padding: 40px 30px;
  text-align: center;
  width: 100%;
}

p {
  margin: 0;
  font-size: 15px;
}

