<nav>
  <div class="nav-logo">
    <div class="logo-img">AV</div>
    <span class="brand">AlgoVisualizer</span>
  </div>
  <div class="nav-links">
    <a href="#" class="nav-link active" data-target="home">Accueil</a>
    <a
      href="components/home/FeaturesSection/FeaturesSection.html"
      class="nav-link"
      data-target="featuresSection"
      >Fonctionnalités</a
    >
    <a
      href="components/home/MissionSection/MissionSection.html"
      class="nav-link"
      data-target="missionSection"
      >Mission</a
    >
    <a
      href="components/home/FAQSection/FAQSection.html"
      class="nav-link"
      data-target="faqSection"
      >FAQ</a
    >
  </div>
  <div class="nav-actions">
    <button class="btn-outline">Connexion</button>
    <button class="btn-filled" data-route="visualizer">Commencer</button>
  </div>
</nav>
